/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f7fc;
}

h1 {
  text-align: center;
  font-size: 30px;
  color: #007bff;
}

/* Formulário de login */
#loginForm {
  text-align: center;
}

#loginForm input {
  padding: 10px;
  margin: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#loginForm button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#loginForm button:hover {
  background-color: #0056b3;
}

/* Painel de Admin */
#adminPanel {
  margin-top: 20px;
}

#sections {
  width: 100%;
  height: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#adminPanel h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
